# Binaries
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

# Teste Binary
backend/*.test

# Go workspace file
backend/go.work
backend/go.work.sum

# ENV file
backend/.env

# Database
backend/*.db
